{% extends 'base.html' %}

{% block title %}Course list{% endblock %}
{% block content %}

<h2>Individual Course Page </h2>

<div class = 'container' style="margin:10px;">
<ul>
    <div class="ui divider"></div>
        <div class="ui segment"/>
    <div class="header"><h3>CMPT 470</h3></div>
              <div class="content">
                  <div class="ui divider"></div>
                <h4 class="ui sub header">Description</h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                         <p>This course examines: two-tier/multi-tier client/server architectures; the architecture of a Web-based information system; web servers/browser; programming/scripting tools for clients and servers; database access; transport of programming objects; messaging systems; security; and applications (such as e-commerce and on-line learning). Prerequisite: (CMPT 275 or CMPT 276) and CMPT 354.</p>

              <div class="extra content">
                <button class="ui button">Join Project</button>
              </div>

</ul>
    </div>
{% endblock %}